body {
  color: #0c090d;
  background-color: white;
}
.container {
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container2 {
  display: flex;
  justify-content: space-around;
}

#home {
  margin-bottom: 5rem;
}

.description {
  width: 69%;
}
.fontfordesc {
  font-size: 22px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 9px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.btnprojects {
  background-color: #0c090d;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px 13px 5px 12px;
  min-width: 149px;
  font-size: 16px;
  border-radius: 4px;
}
.btnprojects:hover {
  background-color: #161118;
}
.butnbox {
  margin-top: 7px;
  display: flex;
  justify-content: space-between;
}
.removepad-margin {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-size: 18px;
}
.profileimage {
  height: 220px;
  width: 220px;
  margin: 0.5em;
  box-shadow: 0 4px 8px 0 #707270, 0 6px 20px 0 #707270;
}

#background-wrap {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}
.contactbox {
  display: flex;
  justify-content: center;
}
.contactitem {
  display: flex;
  flex-direction: column;
}
#contact {
  margin-bottom: 3rem;
}
.btnalign {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ininetextbox {
  display: flex;
  justify-content: space-between;
}

.ininetextbox input {
  width: 321px;
  padding: 12px 20px;
}
.ininetextbox input:focus {
  border: 2px solid black;
}
.ininetextbox textarea {
  width: 321px;
}
.ininetextbox textarea:focus {
  border: 2px solid black;
}
.ininetextbox {
  padding-bottom: 3rem;
}
.skill-link {
  text-decoration: none;
}

.button {
  background-color: #0c090d;
  border: none;
  color: white;
  padding: 16px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  color: white;
  border: 2px solid #0c090d;
  width: 50%;
}

.button1:hover {
  border: 2px solid #221825;
  background: #221825;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.skill-coloum {
  /* background-image: linear-gradient(120deg, #cddc39, #1a6524); */
  background-color: white;
  border: none;
  color: rgb(2, 0, 0);
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  min-width: 200px;
  border-radius: 4px;
  border: 1px solid #e01a4f;
}
.skill-coloum:hover {
  border: 1px solid black;
}

.skill-img {
  height: 50px;
  width: 50px;
}
.skill-wraps {
  width: 90%;
  margin-left: 3rem;
  display: flex;
  justify-content: space-between;
}
.skill-coloum p {
  font-weight: bold;
}
#skills {
  margin-bottom: 7rem;
}

.languagebadge {
  background-color: #372a3c;
  color: white;
  border: 1px solid #372a3c;
  padding: 3px;
  border-radius: 4px;
  font-size: 12px;
  margin-right: 3px;
  display: inline-block;
  margin-top: 3px;
}

/* for timeline */

* {
  box-sizing: border-box;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #e01a4f;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container_for_timeline {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container_for_timeline::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: white;
  border: 4px solid #e01a4f;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #0c090d;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #0c090d;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #0c090d;
  border-width: 10px 10px 10px 0;
  border-color: transparent #0c090d transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -13px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: #0c090d;
  position: relative;
  border-radius: 6px;
  color: white;
}
.content:hover {
  background-color: #161118;
}

#professionalexperience {
  margin-bottom: 7rem;
}
#projects {
  margin-bottom: 7rem;
}

.projects-outer-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 95%;
  padding-left: 5%;
}

.project_box {
  /* width: 30%; */
  flex-basis: 30%;
  background-color: white;
  border: 1px solid #e01a4f;
  color: black;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-radius: 4px;
}
.descandbadges {
  min-height: 190px;
}

.inner-project-box {
  width: 90%;
}

.prjctpic {
  height: auto;
  width: 100%;
}

.projectpiccontainer {
  min-height: 171px;
}

.semi-transparent-button {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 8px;
  width: 80%;
  max-width: 200px;
  background: #000;
  color: #fff;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
}
.semi-transparent-button:hover,
.semi-transparent-button:focus,
.semi-transparent-button:active {
  background: #e01a4f;
  color: #fff;
  transition: all 0.5s ease-in;
}
.semi-transparent:focus {
  outline: none;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container_for_timeline {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container_for_timeline::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
/* for timeline */

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .fw {
    width: 100px;
    height: 100px;
  }

  .skill-wraps {
    margin-left: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .container2 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .description {
    width: 100%;
    padding: 5px;
  }
  .profileimage {
    margin: 0.5em auto;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .container_for_icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .skill-wraps {
    margin-left: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .container2 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .description {
    width: 100%;
    padding: 5px;
  }
  .profileimage {
    margin: 0.5em auto;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .container_for_icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .skill-wraps {
    margin-left: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .namefont {
    font-size: 5vw;
  }
  .posfont {
    font-size: 2vw;
  }
  .container_for_icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .heading {
    margin-left: 3rem;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .namefont {
    font-size: 5vw;
  }
  .posfont {
    font-size: 2vw;
  }
  .container_for_icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 2rem;
  }
  .heading {
    margin-left: 8rem;
  }
}
